/* GLOBALS */
body {
  background-color: #f3f5f6;
}

/* INDEX CONTAINER */
div.index-container {
  margin-top: 25vh;
}

/* DASH CONTAINER */
div.dash-container > div {
  padding-top: 70px;
}

/* IMAGES */
img.index-logo {
  padding: 20px;
}

/* NAVBAR STUFF */
div.form-group {
  margin-bottom: 0;
}

nav.navbar-fixed-top {
  background-color: #ffffff;
  border-bottom: solid 1px #CCCCCC;
  min-height: 60px !important;
}

/* CARD CONTAINER */
div.card {
  margin: 10px;
}

div.card-block {
  padding: 15px 15px 5px 15px;
  border-bottom: 1px solid #cccccc;
  background-color: #e7e7e7;
}

.list-wrapper {
  height: 33vh;
  overflow-y: auto;
}

/* RECIPE CONTAINER */
div.card-block.recipe-card {
  background-color: #ffffff;
}

.recipe-list-wrapper {
  height: 70vh;
  overflow-y: auto;
}

.recipe-list-wrapper > ul {
  height: 100%;
}

/* RECIPE SUGGESTION */
small.missing-str {
  line-height: 1 !important;
}

button.view-more {
  width: 100%;
  border-top: 1px solid #ccc;
}

/* INGREDIENT SUGGESTION */
.media-list {
  margin-bottom: 0;
}

.media-body {
  vertical-align: middle;
}

.media.ingredient {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

div.index-container .media.ingredient:last-child {
  border: 0;
}

.media.ingredient:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.media.ingredient p.media-heading {
  text-transform: capitalize;
  margin-bottom: 0;
}

/* ADD TO FRIDGE */
button.btn-add {
  background-color: transparent;
  padding: 0 5px;
  color: #55595c;
}

button.btn-add:hover > i.btn-add-icon {
  color: rgb(105, 187, 15)
}

button.btn-add:active > i.btn-add-icon {
  color: rgba(65, 117, 5, 1)
}

button.btn-add.success > i.btn-add-icon {
  color: rgb(105, 187, 15)
}

i.btn-loading {
  color: rgba(0, 0, 0, 0.3)
}

/* SEARCH BAR */

input.form-control::-webkit-input-placeholder {
  color: #ccc;
}

/* SEARCH DROPDOWN */
.dropdown-menu {
  margin-top: 5px;
  padding: 0;
  border-radius: 4px;
  height: auto;
}

/* ERROR MSGS, PRELOADER */

div.search-error {
  padding: 15px;
  width: 100%;
}

div.search-error p {
  margin-bottom: 0;
}

div.preloader {
  width: 100%;
  padding: 20px 0;
}

div.spinner-wrapper {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

/* ICON IN INPUT */
.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 60px;
}

.right-inner-addon i {
  line-height: normal;
}

/* UTILITY CLASSES */
.centered {
  float: none;
  margin: 0 auto;
  display: block;
}

.search-bar-fix {
  top: 2px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
