body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.media.ingredient {
  padding: 5px 10px;
  margin-top: 0;
}

.media.ingredient:hover {
  background-color: #dd4400;
  color: #fff;
}

h4.media-heading {
  text-transform: capitalize;
}