/* GLOBALS */
body {
  background-color: #f3f5f6;
}

/* INDEX CONTAINER */
div.index-container {
  margin-top: 30vh;
}

/* DASH CONTAINER */
div.dash-container > div {
  padding-top: 70px;
}

/* IMAGES */
img.index-logo {
  padding: 20px;
}

/* NAVBAR STUFF */
nav .row div {
  top: 2px;
}

nav .row div.navbar-brand {
  top: 0;
  padding-top: 0;
}

div.form-group {
  margin-bottom: 0;
}

nav.navbar-fixed-top {
  background-color: #ffffff;
  border-bottom: solid 1px #CCCCCC;
  min-height: 60px !important;
}

/* CARD CONTAINER */
div.card {
  margin: 10px;
}

div.card-block {
  padding: 15px 15px 5px 15px;
  border-bottom: 1px solid #cccccc;
  background-color: #e7e7e7;
}

h5.card-title span.bf {
  margin-right: 10px;
}

.list-wrapper {
  height: 27vh;
  overflow-y: auto;
}

/* RECIPE CONTAINER */
div.card-block.recipe-card {
  background-color: #ffffff;
}

.recipe-list-wrapper {
  height: 70vh;
  overflow-y: auto;
}

.recipe-list-wrapper > ul {
  height: 100%;
}

.btn-group-vertical > [class*='btn-'] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.media-right a.btn-block, .media-right a.btn-block:hover, .media-right a.btn-block:active {
  color: white;
}

/* RECIPE SUGGESTION */
small.missing-str {
  line-height: 1 !important;
}

button.view-more {
  width: 100%;
  border-top: 1px solid #ccc;
}

.recipe-list-wrapper .media.ingredient:last-child {
  border: 0;
}

/* INGREDIENT SUGGESTION */
.media-list {
  margin-bottom: 0;
}

.media-body {
  vertical-align: middle;
  position: relative;
}

.media-body > .ingr-name-overlay {
  position: absolute;
  top: 0; bottom: 0; right: 0;
  width: 10px;
  z-index: 9999;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.media.ingredient:hover .ingr-name-overlay {
  background-image: linear-gradient(to left, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0));
}

.media-body > .ingr-name-wrapper {
  max-width: 0;
  white-space: nowrap;
}

.media.ingredient {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

div.index-container .media.ingredient:last-child {
  border: 0;
}

.media.ingredient:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.media.ingredient p.media-heading {
  text-transform: capitalize;
  margin-bottom: 0;
}

/* INGREDIENT BUTTON ACTIONS */
/* not added, general styling */
button.btn-add {
  background-color: transparent;
  padding: 0 5px;
  color: #55595c;
}

/* not added, hover */
button.btn-add:hover > i.btn-add-icon {
  color: rgb(105, 187, 15)
}

/* not added, click */
button.btn-add:active > i.btn-add-icon {
  color: rgba(65, 117, 5, 1)
}

/* added */
button.btn-add.added > i.btn-add-icon {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition-duration: 0.8s;
  transition-property: transform;
}

/* added, hover */
button.btn-add.added:hover > i.btn-add-icon {
  color: rgb(255, 40, 62);
}

/* added, click */
button.btn-add.success:hover > i.btn-add-icon {
  color: rgb(179, 27, 44);
}

i.btn-loading {
  color: rgba(0, 0, 0, 0.3)
}

button.btn-remove {
  background-color: transparent;
  padding: 0 5px;
  color: #55595c;
}

/* SEARCH BAR */
input#search-input {
  background: #FFFFFF;
}

input#search-input::-webkit-input-placeholder {
  color: #CCCCCC;
}

/* SEARCH DROPDOWN */
.dropdown-menu {
  margin-top: 5px;
  padding: 0;
  border-radius: 4px;
  height: auto;
  width: 100%;
}

/* ERROR MSGS, PRELOADER */
div.search-error {
  width: 100%;
  padding: 20px 0;
}

div.search-error p {
  margin-bottom: 0;
}

div.preloader {
  width: 100%;
  padding: 20px 0;
}

div.spinner-wrapper {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

/* ICON IN INPUT */
.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 60px;
}

.right-inner-addon i {
  line-height: normal;
}

/* COOKING TODAY */

button.accordion {
  background-color: #f6f6f6;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(204,204,204);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

button.accordion a {
  padding-left: 10px;
}

button.accordion a:hover, button.accordion a:visited, button.accordion a:link, button.accordion a:active {
  text-decoration: none !important;
}

div.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  opacity: 0;
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
}

div.panel ul li.list-group-item {
  text-transform: capitalize;
}

/* TOOLTIP (INGREDIENTS) */
.tooltip-inner.success {
  border-bottom: 2px solid #69bb0f;
}

.tooltip-inner.failure {
  border-bottom: 2px solid #dd0000;
}

/* UTILITY CLASSES */
.centered {
  float: none;
  margin: 0 auto;
  display: block;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
