body {
	padding-top: 60px;
}

div.container {
	margin: 0;
	max-width: 100%;
}

/* NAVBAR STUFF */

	div.form-group {
		margin-bottom: 0;
	}

/* CARD CONTAINER */

	div.card {
		margin: 10px;
	}
	
	div.card-block {
	  padding: 0;
	}
	
	h6.card-header-title {
	  margin: 0;
	  padding: 5px;
	}

/* INGREDIENTS */
	.media-body {
	  vertical-align: middle;
	}
	
	.media.ingredient {
	  padding: 5px;
	  margin: 0;
	  border-bottom: 1px solid #ccc;
	}
	
	.media.ingredient:last-child {
	  border: 0;
	}
	
	.media.ingredient:hover {
	  background-color: rgba(0, 0, 0, 0.05);
	}
	
	.media.ingredient p.media-heading {
	  font-size: 1.25rem;
	  text-transform: capitalize;
	}
	
	button.btn-add {
	  background-color: transparent;
	  padding: 10px;
	}
	
	button.btn-add:hover {
	  color: rgb(105, 187, 15)
	}
	
	button.btn-add:active {
	  color: rgba(65, 117, 5, 1)
	}
	
	button.btn-add.success {
	  color: rgb(105, 187, 15)
	}

/* ICON IN INPUT */

  .right-inner-addon.pull-xs-right {
    position: relative;
  }

  .right-inner-addon.pull-xs-right input {
    padding-right: 60px;
  }

  .right-inner-addon.pull-xs-right i {
    position: absolute;
    right: 0px;
    padding: 10px 24px;
    line-height: auto;
  }